*{
    margin: 0;
    padding: 0;
    border: none;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    display: flex;
    background:url("/static/img/fondo.jpg");
    background-size:cover;
    background-position: center;
    min-height: 100vh;
}
.login_contenedor
{
    width: 100%;
    height: 100%;
}
.login_contenedor form
{
    width:25%;
    height:370px;
    padding: 0%;
    background-color:rgba(0, 0, 0, 0.158);
    margin-left: 37.5%;
    margin-top: 15%;
    outline: none;
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(2px);
}
#frm label
{
    display: block;
    margin-top: 1%;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    text-shadow: black 1px 0 2px;
    color: white;
}
.fields
{
    width: 83%;
    height:35px;
    margin-top: 5%;
    margin-left: 10%;
    padding-left: 2%;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
  
}
#frm select
{
    width: 83%;
    height:35px;
    margin-top: 5%;
    margin-left: 10%;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
#frm select option
{
   color: black;
}
#loginM
{
    width: 35%;
    height:35px;
    margin-left: 35%;
    margin-top: 5%;
    background-color: white;
    color: black;
    font-weight: bolder;
    border: 1px solid white;
    border-radius: 15px;
}
::placeholder
{
    color: white;
}


